<!DOCTYPE html>
<html>
    <head>
        <title>Title I guess</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="band_home.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="band_home.html">Store</a></li>
                </ul>
            </nav>
            <hr>
            <h1>The Post-Englishes</h1>
            <button type=button>Get Our Latest Album</button>
            <br><br>
            <!-- TODO: header image-->
            <button type=button>&#9658;</button>
            <meta name="description" content="some stuff">
        </header>
        
        <section>
            <h2>Tours</h2>
            <div> <!-- wrapping the whole table of tour dates-->
                <div> <!-- wrapping individual row-->
                    <strong>JUN 10</strong>
                    &lt; &gt;
                    <span>Atlanta, GA</span>
                    &lt; &gt;
                    <span>Theater</span>
                    &lt; &gt;
                    <button type=button>Buy Tickets</button>
                    <hr>
                </div>
                <div> <!-- wrapping individual row-->
                    <strong>JUN 11</strong>
                    &lt; &gt;
                    <span>Atlanta, GA</span>
                    &lt; &gt;
                    <span>Theater</span>
                    &lt; &gt;
                    <button type=button>Buy Tickets</button>
                    <hr>
                </div>
                <div> <!-- wrapping individual row-->
                    <strong>JUN 12</strong>
                    &lt; &gt;
                    <span>Atlanta, GA</span>
                    &lt; &gt;
                    <span>Theater</span>
                    &lt; &gt;
                    <button type=button>Buy Tickets</button>
                </div>
            </div>

        </section>
        
        <footer>
            <h3>The Post-Englishes</h3>
            <ul>
                <li><img src="../images/youtube.png" width=25 height = 25></li>
                <li><img src="../images/Spotify-logo.png" width=25 height = ></li>
                <li><img src="../images/facebook_logo_transparent512.png" width=25 height = ></li>
            </ul>
        </footer>
    </body>
</html>
